<div id="mail-confirm" fxLayout="column">
  <div
    id="mail-confirm-form-wrapper"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div
      id="mail-confirm-form"
      [@animate]="{ value: '*', params: { duration: '300ms', y: '100px' } }"
    >
      <div class="logo">
        <mat-icon class="mat-accent s-96">email</mat-icon>
      </div>

      <div class="title">Reset your password!</div>

      <div class="subtitle">
        <p>
          Password reset link has been sent to <b>{{ email }}</b
          >.
        </p>
        <p>
          Follow the instructions to reset your password. Link expires in 10
          mins
        </p>
      </div>

      <div class="message">
        <a class="link" [routerLink]="'/auth/login'">Go back to login page</a>
      </div>
    </div>
  </div>
</div>
