@import "src/@fuse/scss/fuse";

.message-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 720px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    input[type="file"] {
      visibility: hidden;
    }
}


.image-preview {
  height: 25rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.image-preview img {
  height: 100%;
}


