.header {
  position: relative;
  flex: 1 0 auto;
  min-height: 380px !important;
  text-align: center;
  overflow: hidden;

  .hero-text {
    .hero-icon {
      position: absolute;
      top: -64px;
      left: 0px;
      opacity: 0.04;
      font-size: 512px !important;
      width: 512px !important;
      height: 512px !important;
    }

    h1 {
      max-width: 650px;
      font-size: 40px;
      font-weight: 300;
      letter-spacing: 0.01em;
      text-align: center;
      margin-top: 16px;
      margin-bottom: 16px;
    }

    h3 {
      max-width: 650px;
      text-align: center;
      font-weight: 300;
      letter-spacing: 0.03em;
      margin: 0;
    }
  }
  .submit-button {
    width: 100%;
    margin: 32px 16px;
    display: inline-block;
  }
}

.title-box {
  text-align: center;
  margin-bottom: 100px auto 50px;
  p {
    margin-top: 10px;
    line-height: 24px;
  }
}

.profile-box {
  position: relative;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0 10px 10px 10px rgba(115, 193, 255, 0.1);
  transition: background 0.5s ease-in-out;

  &:hover {
    background: #2196f3;
    h4 {
      color: #fff;
    }
    p {
      color: #efefef;
    }
    small {
      color: #efefef;
    }
  }
  img {
    position: absolute;
    width: 100px;
    top: 20px;
    right: 20px;
    transition: 0.5s ease-in-out;
    border-radius: 4px;
    &:hover {
      width: calc(100% - 40px);
      max-height: calc(100% - 40px);
      object-fit: contain;
    }
  }
  h4 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #2196f3;
  }
  small {
    color: #555;
  }
  .social-box {
    background: #2196f3;
    margin: 60px auto 20px;
    text-align: center;
    border-radius: 3px;
    .fab {
      margin: 5px;
      color: #fff;
      cursor: pointer;
    }
  }
  p {
    text-align: center;
    line-height: 24px;
    color: #555;
  }
}
