<div class="page-layout simple fullwidth">
  <!-- HEADER -->
  <div
    class="header accent p-16 p-sm-24"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="hero-text">
      <mat-icon class="hero-icon">school</mat-icon>
      <h1 [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }">
        WELCOME TO OUR COMMUNITY
      </h1>
      <h3 [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }">
        Our Community will help you get the most benefit of our learning process
        and enhance your skills through our best learning materials.
      </h3>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">
    <pricing-style-3></pricing-style-3>

    <!-- TEAM -->
    <div class="title-box">
      <h1 class="font-weight-300 font-size-32">Our Team</h1>
      <p class="font-size-18 mb-64">Meet the people who make awesome stuffs</p>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="mb-40">
      <div
        class="profile-box"
        fxFlex="auto"
        fxFlex.lt-lg="50%"
        fxFlex.lt-sm="100%"
      >
        <h4>Ahmed Abbas</h4>
        <small>Developer</small>
        <img src="./assets/team/AhmedAbbas.jpg" alt="Abbas" />
        <div class="social-box">
          <i class="fab fa-linkedin">
            <a
              href="https://www.linkedin.com/in/ahmeddabbas"
              target="_blank"
            ></a>
          </i>
          <i class="fab fa-github">
            <a href="https://github.com/AhmedAbbas19" target="_blank"></a>
          </i>
          <i class="fab fa-facebook">
            <a
              href="https://www.facebook.com/AhmeddAbbas17"
              target="_blank"
            ></a>
          </i>
          <i class="fab fa-twitter"></i>
        </div>
        <p>Front End Developer</p>
      </div>
      <div
        class="profile-box"
        fxFlex="auto"
        fxFlex.lt-lg="50%"
        fxFlex.lt-sm="100%"
      >
        <h4>Amir Mohamed</h4>
        <small>Developer</small>
        <img src="./assets/team/amir.JPG" alt="Amir" />
        <div class="social-box">
          <i class="fab fa-linkedin">
            <a
              href="https://www.linkedin.com/in/amir-suliman"
              target="_blank"
            ></a>
          </i>
          <i class="fab fa-github">
            <a href="https://github.com/Amir-Mohammed" target="_blank"></a>
          </i>
          <i class="fab fa-facebook">
            <a
              href="https://www.facebook.com/profile.php?id=100000197766213"
              target="_blank"
            ></a>
          </i>
          <i class="fab fa-twitter">
            <a href="" target="_blank"></a>
          </i>
        </div>
        <p>Front End Developer</p>
      </div>
      <div
        class="profile-box"
        fxFlex="auto"
        fxFlex.lt-lg="50%"
        fxFlex.lt-sm="100%"
      >
        <h4>Ahmed Mostafa</h4>
        <small>Developer</small>
        <img src="./assets/team/ahmedMostafa.JPG" alt="Mostafa" />
        <div class="social-box">
          <i class="fab fa-linkedin">
            <a
              href="https://www.linkedin.com/in/ahmed-mostafa-elsayed"
              target="_blank"
            ></a>
          </i>
          <i class="fab fa-github">
            <a href="https://github.com/AhmedMostafa4200" target="_blank"></a>
          </i>
          <i class="fab fa-facebook">
            <a
              href="https://www.facebook.com/profile.php?id=100002909005135"
              target="_blank"
            ></a>
          </i>
          <i class="fab fa-twitter">
            <a href="" target="_blank"></a>
          </i>
        </div>
        <p>Front End Developer</p>
      </div>
      <div
        class="profile-box"
        fxFlex="auto"
        fxFlex.lt-lg="50%"
        fxFlex.lt-sm="100%"
      >
        <h4>Abdallah Ragab</h4>
        <small>Developer</small>
        <img src="./assets/team/Abdallah.jpg" alt="Abdallah" />
        <div class="social-box">
          <i class="fab fa-linkedin">
            <a
              href="https://www.linkedin.com/in/abdallahragab49"
              target="_blank"
            ></a>
          </i>
          <i class="fab fa-github">
            <a href="https://github.com/abdallahragab40" target="_blank"></a>
          </i>
          <i class="fab fa-facebook">
            <a
              href="https://www.facebook.com/abdallahragab49"
              target="_blank"
            ></a>
          </i>
          <i class="fab fa-twitter">
            <a href="https://twitter.com/abdallahragab49" target="_blank"></a>
          </i>
        </div>
        <p>Front End Developer</p>
      </div>
    </div>
    <!-- / TEAM -->
  </div>
  <!-- / CONTENT -->
</div>
