<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row>
      <span class="title dialog-title">Enroll new course</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <form [formGroup]="form" (submit)="onSendAccessCode()">
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Access code</mat-label>
        <input matInput formControlName="accessCode" />
        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
        <mat-hint>Enter the access code provided by your instructor</mat-hint>
        <mat-error *ngIf="form.get('accessCode').hasError('required')">
          Access code is required
        </mat-error>
        <mat-error *ngIf="form.get('accessCode').hasError('incorrect')">
          Access code is incorrect
        </mat-error>
      </mat-form-field>
    </div>
    <div
      mat-dialog-actions
      class="m-0 p-16"
      fxLayout="row"
      fxLayoutAlign="end center"
    >
      <button
        mat-button
        type="button"
        (click)="matDialogRef.close()"
        class="mat-accent"
        aria-label="Close"
      >
        Cancel
      </button>
      <button mat-button [mat-dialog-close]="true" type="save" [disabled]="form.invalid">
        Send
      </button>
    </div>
  </form>
</div>
